.project-card img {
  width: 100%;
  margin-bottom: var(--spacing-6);
}

.project-card {
  /* border: var(--border-white); */
  padding: var(--spacing-4);
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.project-card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}
