.card {
  background-color: #292929;
  border: 6px solid var(--color-off-white);
  color: var(--color-text-light);
}

.card-body {
  padding: var(--spacing-8);
}

img[class] {
  width: 100%;
  max-height: 500px;
}

.object-fit_fill {
  object-fit: fill;
}
.object-fit_contain {
  object-fit: contain;
}
.object-fit_cover {
  object-fit: cover;
}
.object-fit_none {
  object-fit: none;
}
.object-fit_scale-down {
  object-fit: scale-down;
}
