.card {
  background-color: #292929;
  border: var(--border-white);
  color: var(--color-text-light);
}

.card-body {
  padding: var(--spacing-8);
  display: grid;
}

img[class] {
  width: 100%;
  max-height: 400px;
}

.product-description {
  /* height: 100px; */
}

.object-fit_fill {
  object-fit: fill;
}
.object-fit_contain {
  object-fit: contain;
}
.object-fit_cover {
  object-fit: cover;
}
.object-fit_none {
  object-fit: none;
}
.object-fit_scale-down {
  object-fit: scale-down;
}
