@font-face {
  font-family: Kongtext;
  src: url("./assets/fonts/kongtext-font/kongtext-regular.ttf");
}

@font-face {
  font-family: PressStart2P;
  src: url("./assets/fonts/press-start-2p-font/press-start-2p.ttf");
}

@font-face {
  font-family: SerifPixel;
  src: url("./assets/fonts/serif-pixel-7-font/serif-pixel-7.ttf");
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-16xl: 89.5rem;
  --maxWidth-full: "100%";
  /* --maxWidth- */
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.6875rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.625rem;
  --spacing-12: 2.714rem;
  --spacing-13: 3rem;
  --spacing-14: 3.398rem;
  --spacing-16: 4rem;
  --spacing-18: 4.286rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-42: 10rem;
  --border-size: 4px;
  --border-color: #ffffff;
  --border-type: solid;
  --border-white: var(--border-size) var(--border-type) var(--border-color);
  --fontFamily-sans: PressStart2P, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: SerifPixel, "Merriweather", "Georgia", Cambria,
    "Times New Roman", Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  /* https://type-scale.com/ */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #c4c4c4;
  --color-text: #ffffff;
  --color-text-light: #ffffff;
  --color-text-dark: #131313;
  --color-heading: #ffffff;
  --color-heading-black: black;
  --color-accent: #ffffff;

  --color-neon-green: #98ff00;
  --color-neon-blue: #00ffff;
  /* --color-neon-purple: #bc13fe; */

  --color-background: #131313;
  --color-white: #ffffff;

  /* Updated colour pallete */
  --color-purple: #6e2594;
  --color-blue: #209cee;
  --color-green: #92cc41;
  --color-yellow: #f7d51d;
  --color-salmon: #e76e55;
  --color-red: #df2935;
  --color-dark-grey: #24292d;
  --color-off-white: #f5f5f5;

  --icon-width: 47px;
  --icon-height: 47px;
}

.color-purple {
  color: var(--color-purple);
}
.color-blue {
  color: var(--color-blue);
}
.color-green {
  color: var(--color-green);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-salmon {
  color: var(--color-salmon);
}
.color-red {
  color: var(--color-red);
}
.color-dark-grey {
  color: var(--color-dark-grey);
}
.color-off-white {
  color: var(--color-off-white);
}

.background-color-purple {
  background-color: var(--color-purple);
}
.background-color-blue {
  background-color: var(--color-blue);
}
.background-color-green {
  background-color: var(--color-green);
}
.background-color-yellow {
  background-color: var(--color-yellow);
}
.background-color-salmon {
  background-color: var(--color-salmon);
}
.background-color-red {
  background-color: var(--color-red);
}
.background-color-dark-grey {
  background-color: var(--color-dark-grey);
}
.background-color-off-white {
  background-color: var(--color-off-white);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--color-background) !important;
}

body {
  font-family: var(--font-body) !important;
  font-size: var(--fontSize-1) !important;
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  background-color: var(--color-background);
}

footer {
  padding: var(--spacing-0) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-6);
  color: var(--color-heading);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
  list-style-type: none;
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

html {
  background-color: var(--color-background);
}

/* Buttons */
button {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  border: none;
  padding: var(--spacing-4) var(--spacing-8);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-neon-purple);
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0%, -10%);
  }
}

/* @keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
} */

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
  gap: 1rem;
}

.home-container {
  text-align: center;
}
